* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: sans-serif;
}

.carousel {
  background-color: black;
  margin-bottom: 15px;
  border-radius: 15px;
  padding-top: 4px;
  user-select: none;

  img {
    width: 100%;
    border-radius: 18px;
    user-select: none;
    flex-shrink: 0;
    padding: 0 6px;
  }

  .name {
    font-size: 16px;
    color: rgb(203, 203, 203);
    padding: 5px;
    text-align: center;
  }

  .images-container {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 15px;
    // justify-content: center;
  }
}

.carousel1 {
  overflow: hidden;
}

.carousel2 {
  position: relative;
  .images-container {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    gap: 5px;
    margin-bottom: 2px;
    scroll-snap-type: x mandatory;
    position: static;

    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .img-box {
      width: 100%;
      flex-shrink: 0;
      justify-content: center;

      display: flex;
      align-items: center;
      scroll-snap-align: start;
      scroll-snap-stop: always;
      // padding: 10px;
    }

    img {
      object-fit: cover;
      width: 100%;
      border-radius: 18px;
    }
  }

  .dots {
    bottom: 52px;
  }
}
.dots {
  display: flex;
  gap: 3px;
  margin-top: 5px;
  position: absolute;
  bottom: 3px;
  border-radius: 2px;
  padding: 2px;
  left: 50%;
  // background-image: filter("blur");
  background-color: rgba(23, 23, 23, 0.5);
  transform: translateX(-50%);
}
.dot {
  width: 10px;
  height: 10px;
  //   width: 7px;
  //   height: 7px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 50%;
}
.selected-dot {
  background-color: rgb(201, 201, 201);
}
.unlock {
  margin-top: 200px;
}

// form {
//   display: flex;
//   flex-direction: column;
//   gap: 15px;
//   font-size: 20px;
//   margin: 20px;
//   background-color: form;
//   margin-bottom: 40px;
//   p {
//     padding: 10px;
//     font-weight: 600;
//   }
//   input {
//     font-size: 20px;
//     &:focus {
//       outline: none;
//     }
//   }
//   button {
//     font-size: 20px;

//     background-color: rgb(0, 152, 207);
//     border: none;
//   }
//   .label {
//     background-color: rgb(64, 64, 64);
//     padding: 10px;
//     border-radius: 8px;
//     text-align: center;
//   }
// }

.error {
  background-color: rgb(82, 0, 0);
  padding: 10px;
  color: red;
  margin: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
}
.progress-bar {
  margin: 0px 20px;
  progress {
    width: 95%;
    color: red;
    accent-color: rgb(0, 152, 207);
  }
}

.mini-form {
  flex-direction: row;
  justify-content: center;
  margin: 20px 30px;
  input {
    width: 60%;
  }
}

.back-btn {
  border-radius: 50%;
  padding: 0px;
  padding: 4px 7px;
  padding-top: 8px;
  padding-right: 9px;
  background-color: rgb(0, 152, 207);
  border: 0px;
  top: 3px;
  left: -42px;
  // top: 23px;
  // transform: translateY(-50%);
  position: absolute;

  .btn {
    // color: rgb(0, 150, 225);
    color: black;
  }
}

.sections {
  margin: 8px 22px;
  display: flex;
  flex-direction: column;

  gap: 20px;
  button {
    font-size: 18px;
  }
}
.home {
  margin-top: 40px;
}

.mini-search-bar {
  position: fixed;
  z-index: 2;
  top: 0px;
  padding: 10px;
  background-color: black;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: end;

  .search-bar-input {
    width: 90%;
    font-size: 18px;
    align-self: flex-end;
  }
  .back-btn {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    // width: 15%;
  }
}

.section-carousels {
  background-color: rgb(25, 25, 25);
  padding-top: 6px;
}
.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 5px;
  align-items: center;

  .name {
    text-align: left;
    // white-space: nowrap;
    overflow: hidden;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 8px;
    background: linear-gradient(45deg, rgb(221, 0, 188), rgb(152, 0, 228));
    max-width: 200px;
    color: white;
    // text-overflow: ellipsis;
  }
  .title {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
  }
  .icons {
    display: flex;
    gap: 20px;
    align-items: center;
    .bookmark {
      color: white;
      // padding: 20px;
      // margin-left: 20px;
      font-size: 22px;
    }
    .share-icon {
      color: white;

      font-size: 18px;
    }
  }
}

.share {
  background-color: rgb(29, 29, 29);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 20px 10px;
  z-index: 99;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    .icon {
      color: white;
      font-size: 22px;
    }
  }

  .items {
    display: flex;
    gap: 10px;

    div {
      font-size: 14px;
    }
  }
}

#overlay {
  // width: 100vw;
  // background-color: rgba(212, 0, 0, 0.178);
  // z-index: 2;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  // height: 100vh;
}
.hidden {
  display: none;
}

.x {
  margin-top: 0px;
  form.search-bar {
    position: fixed;
    z-index: 2;
    top: 0px;
    padding: 10px;
    background-color: black;
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    // width: calc(100% - 40px);

    .search-bar-input {
      width: 95%;
      font-size: 18px;
    }
  }

  .section {
    // padding-top: 55px;
  }
  .settings {
    user-select: none;
    .section {
      padding-top: 35px;
    }
    .section {
      h3 {
        margin-bottom: 20px;
        font-size: 22px;
      }
    }
    .link {
      // background-color: green;
      display: flex;
      align-items: center;
      gap: 40px;

      .icon-outer {
        padding: 6px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: green;
        background-color: rgb(0, 164, 239);
        .icon {
          font-size: 17px;
        }
      }
    }
  }
}

.bottom-nav {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: black;
  padding: 14px 30px;
  border-top: 1px solid gray;
  .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon {
      font-size: 22px;
    }
  }
}

.x.section {
  .section-carousels {
    height: 100vh;
    overflow-y: scroll;

    .carousel:first-child {
      padding-top: 55px;
      // scroll-snap-align: start;
      // scroll-margin-top: 20px;
    }
  }
}

.suggestions {
  background-color: rgb(34, 34, 34);
  color: white;
  position: absolute;
  width: 95%;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 10px;
  max-height: 400px;
  z-index: 3;
  overflow: auto;
  .name {
    margin-bottom: 20px;
    padding: 8px;
  }

  input {
    font-size: 20px;
    padding: 4px 10px;
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(65, 65, 65);
  }

  .sugg-item {
    margin-bottom: 10px;
    padding: 8px 12px;
    border: 1px soldi rgb(181, 181, 181);
    border-radius: 6px;
    background-color: black;
  }
  .exact-match {
    background-color: rgb(171, 19, 182);
    color: white;
  }
  .partial-match {
    background-color: rgb(207, 62, 0);
    color: white;
  }
}

.search-results {
  @extend .suggestions;
  z-index: 3;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 400px) {
  .x.section .carousel img {
  }
}
@media (min-width: 650px) and (max-width: 899px) {
  .x.section {
    .carousel2 {
      img {
        width: 100%;
      }
      .img-box {
        width: 50%;
      }
    }
  }
}

// .desktop-nav {
//   background-color: red;
//   position: fixed;
//   left: 0px;
//   top: 0px;
//   z-index: 3;
//   width: 70px;
//   height: 100vh;
// }
@media (min-width: 900px) {
  .x.section {
    .carousel2 {
      .img-box {
        width: 33.3%;
      }
    }
  }

  .x {
    margin-left: 60px;
    margin-right: 20px;
  }

  .bottom-nav {
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 3;
    width: 70px;
    height: 100vh;
    border-top: 0px;
    border-right: 1px solid gray;
    .icons {
      flex-direction: column;
      height: 100%;
      justify-content: space-around;
    }
  }
}
